.pop-up .overlay {
    position: fixed;
    top:0px;
    left: 0px;
    width:100vw;
    height: 100vh;
    background: rgba(170, 54, 54, 0.7);
    z-index: 1;
    display: none; /*be careful*/

}

.pop-up .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* background:#fff; */
    background: url(http://127.0.0.1:5500/images/willpic.jpeg);
    width: 450px;
    height: 290px;
    z-index: 2;
    text-align: center;
    color: rgb(5, 109, 109);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px 50px;


    
}
.pop-up .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.pop-up.active .overlay {
    display: inline-block;
}
.pop-up.active .content {
    transition: all 800ms ease-in-out;
    transform: translate(-50%, -50%) scale(2);
}
section img{
    width: 100px;
    height: 110px;
}

section{  
    text-align: center;  
    border: 7px solid rgb(5, 109, 109);  
    width: 300px;  
    height: 200px;  
    padding-top: 100px;  
    }  
    button {  
    font-size: 25px;  
    }  
    #clickhere{
        font-family: monospace;
        color: red;
        font-weight: bold;
    }